#sub {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#resume {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#interests {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#copyr {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btt {
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}